.score-board {
    background: none repeat scroll 0 0 #333333;
    border: 5px solid #aaaaaa;
    border-radius: 5px;
    color: white;
    font-family: "Scoreboard Font";
    font-size: 45px;
    line-height: 70px;
    margin-left: 380px;
    margin-right: 390px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: right;
}