<span id="site" class="ng-cloak">
    <div class="centered">
        <div ng-if="state=='CREATING'">
            <div style="text-align:center">
                <span class="settings-label">
                    Friendly Robber
                </span>
                <button type="button" ng-click="settings.friendly=!settings.friendly"
                        ng-class="{'btn':true, 'btn-medium':true, 'btn-success': settings.friendly, 'btn-danger': !settings.friendly}" style="text-align:center; margin-bottom:10px">
                    {{settings.friendly ? 'ON': 'OFF'}}
                </button>
                <span class="settings-label">
                    Build Turn
                </span>
                <button type="button" ng-click="settings.buildTurn=!settings.buildTurn"
                        ng-class="{'btn':true, 'btn-medium':true, 'btn-success': settings.buildTurn, 'btn-danger': !settings.buildTurn}" style="text-align:center; margin-bottom:10px">
                    {{settings.buildTurn ? 'ON': 'OFF'}}
                </button>
                <label class="settings-label">Max Players:
                    <input type="number" class="settings-number-input" name="maxPlayers" ng-model="settings.maxPlayers"
                           min="2" max="8" required onkeydown="return false">
                </label>
                <label class="settings-label">Victory Points:
                    <input type="number" class="settings-number-input" name="victoryPoints" ng-model="settings.victoryPoints"
                           min="3" max="20" required onkeydown="return false">
                </label>
                <label class="settings-label">Number of Tiles:
                    <input type="number" class="settings-number-input" name="numberOfTiles" ng-model="settings.numberOfTiles"
                           min="7" max="200" required onkeydown="return false">
                </label>
            </div>
            <button type="button" ng-click="createGameboard()" class="btn btn-medium btn-success mark-button" style="text-align:center">
                Continue
            </button>
        </div>
        <div ng-if="state=='OPEN'">
            <h2 style="text-align:center">Game ID: {{gameId}}</h2>
            <div class="player-section span10">
                <div ng-if="players.length==0" class="row player-row picking">
                     <row class="span10">
                        <div class="span7 player-name">Waiting for players</div>
                    </row>
                </div>
                <div ng-class="{'span10':true,'row':true,'player-row':true,'picking':player.active==true}" ng-repeat="player in players">
                    <row>
                        <div class="span2 player-display">{{player.display}}</div>
                        <div class="span6 player-name">{{player.name}}</div>
                        <button ng-hide="$index == 0" type="button" ng-click="makeFirst(player.name)" class="btn btn-medium btn-danger">
                            Make First
                        </button>
                    </row>
                </div>
            </div>
            <div style="text-align:center">
                <button ng-if="players.length>0" type="button" ng-click="startGame()" class="btn btn-medium btn-success mark-button" style="text-align:center">
                    Start Game
                </button>
            </div>

        </div>
        <div ng-if="state=='SETUP' || state=='ACTIVE' || state=='OVER'">
            <div ng-hide="!tile" ng-style="{'position': 'absolute','top':(tile.y*yDiff).toString()+'px','left':(tile.x*xDiff).toString()+'px'}" ng-repeat="tile in gameboard">
                <span class="rotate--90" ng-style="{'color':getColor(tile), 'font-size': '135px'}">&#x2B22;</span>
                <span class="top-right-road" ng-show="showEdge(tile,0)" ng-style="{'color': getEdgeColor(tile,0)}" ng-click="onEdgeClick(tile,0)">|</span>

                <svg class="tile-chip" height="20" width="20" ng-show="!!tile && tile.edges[0].resourceRatio" style="top: -30px;left: 101px; ">
                  <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width=".5" fill="{{getHarborColor(tile.edges[0].resourceRatio)}}"></circle>
                </svg>
                <span class="top-left-road" ng-show="showEdge(tile,4)" ng-style="{'color': getEdgeColor(tile,4)}" ng-click="onEdgeClick(tile,4)">|</span>

                <svg class="tile-chip" height="20" width="20" ng-show="!!tile && tile.edges[4].resourceRatio" style="top: -30px;left: -5px; ">
                  <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width=".5" fill="{{getHarborColor(tile.edges[4].resourceRatio)}}"></circle>
                </svg>
                <span class="top-road" ng-show="showEdge(tile,5)" ng-style="{'color': getEdgeColor(tile,5)}" ng-click="onEdgeClick(tile,5)">|</span>

                <svg class="tile-chip" height="20" width="20" ng-show="!!tile && tile.edges[5].resourceRatio" style="top: -60px;left: 49px; ">
                  <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width=".5" fill="{{getHarborColor(tile.edges[5].resourceRatio)}}"></circle>
                </svg>
                <span class="bottom-road" ng-show="showEdge(tile,2)" ng-style="{'color': getEdgeColor(tile,2)}" ng-click="onEdgeClick(tile,2)">|</span>

                <svg class="tile-chip" height="20" width="20" ng-show="!!tile && tile.edges[2].resourceRatio" style="top: 60px;left: 49px; ">
                  <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width=".5" fill="{{getHarborColor(tile.edges[2].resourceRatio)}}"></circle>
                </svg>
                <span class="bottom-right-road" ng-show="showEdge(tile,1)" ng-style="{'color': getEdgeColor(tile,1)}" ng-click="onEdgeClick(tile,1)">|</span>

                <svg class="tile-chip" height="20" width="20" ng-show="!!tile && tile.edges[1].resourceRatio" style="top: 30px;left: 101px; ">
                  <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width=".5" fill="{{getHarborColor(tile.edges[1].resourceRatio)}}"></circle>
                </svg>
                <span class="bottom-left-road" ng-show="showEdge(tile,3)" ng-style="{'color': getEdgeColor(tile,3)}" ng-click="onEdgeClick(tile,3)">|</span>

                <svg class="tile-chip" height="20" width="20" ng-show="!!tile && tile.edges[3].resourceRatio" style="top: 30px;left: -5px; ">
                  <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width=".5" fill="{{getHarborColor(tile.edges[3].resourceRatio)}}"></circle>
                </svg>
                <svg class="tile-chip" height="100" width="100" ng-show="!!tile.value || tile.id == robberId || tile.selectable">
                  <circle cx="50" cy="50" r="15" stroke="#e2dcba" stroke-width=".5" fill="{{getNumberPieceColor(tile)}}" ng-click="onNumberClick(tile)" />
                </svg>
                <svg class="tile-chip corner-piece" ng-show="showCorner(tile,$index)" ng-style="{'top': ''+(point[1]-(cornerSvgSize/2))+'px','left': ''+(point[0]-(cornerSvgSize/2))+'px','height':''+cornerSvgSize+'px','width':''+cornerSvgSize+'px'}" ng-repeat="point in cornerPoints">
                    <polygon ng-show="tile.corners[$index].settlement.type == 'City'" points="15.000,22.000 21.508,28.515 20.473,19.364 29.624,18.338 21.824,13.442 26.727,5.648 18.037,8.693 15.000,0.000 11.963,8.693 3.273,5.648 8.176,13.442 0.376,18.338 9.527,19.364 8.492,28.515" stroke="#000000" stroke-width=".5" fill="{{getCornerColor(tile,$index)}}" ng-click="onCornerClick(tile,$index)"/>
                    <circle ng-hide="tile.corners[$index].settlement.type == 'City'" r="10" stroke="#000000" stroke-width=".5" fill="{{getCornerColor(tile,$index)}}" ng-click="onCornerClick(tile,$index)" ng-style="{'cx':''+cornerSvgSize/2+'px','cy':''+cornerSvgSize/2+'px'}"></circle>
                </svg>
                <span ng-class="{'tile-chip-number':true, 'tile-chip-big-number':tile.value>=10, 'tile-chip-hot-number':tile.value==6 || tile.value==8}" ng-show="!!tile.value" ng-click="onNumberClick(tile)">{{tile.value}}</span>

                <!--debug-->
                <!--<span class="bottom-right-road" style="font-size:10px;" ng-style="{'color': getEdgeColor(tile,1)}" ng-click="onEdgeClick(tile,1)">{{tile.edges[1].id}}</span>
                <span class="bottom-road" style="font-size:10px;" ng-style="{'color': getEdgeColor(tile,2)}" ng-click="onEdgeClick(tile,2)">{{tile.edges[2].id}}</span>
                <span class="bottom-left-road" style="font-size:10px;" ng-style="{'color': getEdgeColor(tile,3)}" ng-click="onEdgeClick(tile,3)">{{tile.edges[3].id}}</span>
                <span class="top-left-road" style="font-size:10px;" ng-style="{'color': getEdgeColor(tile,4)}" ng-click="onEdgeClick(tile,4)">{{tile.edges[4].id}}</span>
                <span class="top-road" style="font-size:10px;" ng-style="{'color': getEdgeColor(tile,5)}" ng-click="onEdgeClick(tile,5)">{{tile.edges[5].id}}</span>
                <span class="top-right-road" style="font-size:10px;" ng-style="{'color': getEdgeColor(tile,0)}" ng-click="onEdgeClick(tile,0)">{{tile.edges[0].id}}</span>-->
            </div>
        </div>
        <div ng-if="state=='MENU'" style="text-align:center;">
            <form>
                <span class="id-input-label"><b>Game ID:</b></span> <input class="id-input-field" type="text" ng-model="gameId" ng-maxlength="4">
                <button type="button" ng-click="getGameboard(gameId)" class="btn btn-medium btn-success mark-button id-input-button">
                    Load
                </button>
            </form>
            <h3>OR</h3>
            <button type="button" ng-click="startCreatingGameboard()" class="btn btn-medium btn-success mark-button">
                Create New
            </button>
        </div>
    </div>
</span>
<div ng-if="state=='SETUP' || state=='ACTIVE' || state=='OVER'" style="height: 100vh;">
    <div style="position: absolute;background-color: burlywood;bottom: 0px;left: 0px;color: blanchedalmond;border: thick brown solid;border-radius: 5px;">
        <table>
            <tr ng-repeat="entry in pieceCosts" style="border: brown thin solid">
                <td style="color: black; padding: 0px 4px 0px 4px;">
                    {{entry.pieceName}}
                </td>
                <td style="padding-top:15px;padding-bottom:15px">
                    <row>
                        <span ng-repeat="(resource, count) in entry.cost" ng-style="{'background-color': $root.getResourceColor(resource)}" style="padding:5px 5px 5px 5px; margin: 2px; color:white; border: thick black solid;border-radius: 3px;">
                            {{count}}
                        </span>
                    </row>
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute;background-color: burlywood;bottom: 220px;left: 0px;color: blanchedalmond;border: thick brown solid;border-radius: 5px;">
        <table>
            <tr>
                <th>Roll</th>
                <th>Count</th>
                <th>Probability</th>
            </tr>
            <tr ng-repeat="rollStat in rollStats | orderBy:num" style="border: brown thin solid">
                <td style="color: black; padding: 0px 10px 0px 1px;">
                    {{rollStat.num}}
                </td>
                <td style="padding-top:2px; padding: 0px 10px 2px 1px;">
                    {{rollStat.countText}}
                </td>
                <td style="color: blue; padding-top:2px; padding: 0px 10px 2px 1px;">
                    ({{rollStat.probability}}%)
                </td>
            </tr>
        </table>
    </div>
    <div class="player-section span4" style="float:left; margin-left:4px;padding-right:9px;">
        <div ng-class="{'row':true,'player-row':true}" style="font-size:15px;font-weight:bold;width:300px;">
            <row>
                <div class="player-column player-column-medium">Player</div>
                <div class="player-column player-column-medium">Color</div>
                <div class="player-column">RC</div>
                <div class="player-column">DC</div>
                <div class="player-column player-column-medium">Road</div>
                <div class="player-column player-column-medium">Army</div>
                <div class="player-column">VP</div>
            </row>
        </div>
        <div ng-class="{'row':true,'player-row':true,'picking':player.active==true}" ng-repeat="player in players" style="font-size:15px;width:300px;">
            <row>
                <div class="player-column player-column-medium">{{player.display}}</div>
                <div class="player-column player-column-medium" ng-style="{'background':player.color}">&nbsp</div>
                <div class="player-column">{{player.numCards}}</div>
                <div class="player-column">{{player.dcCount}}</div>
                <div class="player-column player-column-medium">{{player.longestRoad}}</div>
                <div class="player-column player-column-medium">{{player.largestArmy}}</div>
                <div class="player-column" style="color:red;">{{player.victoryPoints}}</div>
            </row>
        </div>
    </div>
    <div class="player-section span2" ng-style="{'float':'right', 'margin-left':'4px', 'background':getDiceBackground()}">
        <rect height="50" width="100" ng-style="{'stroke-width':3,'stroke':'black'}"></rect>
        <div style="font-size:3em;text-align:center;">
            <span ng-class="{'dice':true, 'dice-1':dice1==1, 'dice-2':dice1==2, 'dice-3':dice1==3, 'dice-4':dice1==4, 'dice-5':dice1==5, 'dice-6':dice1==6}" title="Dice 1"></span>
            <span ng-class="{'dice':true, 'dice-1':dice2==1, 'dice-2':dice2==2, 'dice-3':dice2==3, 'dice-4':dice2==4, 'dice-5':dice2==5, 'dice-6':dice2==6}" title="Dice 2"></span>
        </div>
    </div>
    <div ng-style="{'position':'absolute', 'bottom':'50px', 'left':'4px', 'color':'red'}">
        {{message}}
    </div>
    <div ng-if="state=='OVER'" style="position: absolute;bottom: 10px;right: 10px;">
        <button type="button" ng-click="createGameboard()" class="btn btn-medium btn-danger mark-button">
            Create New
        </button>
    </div>
</div>